






NODE_ENV=production




PORT=4000




MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/contour_prod?retryWrites=true&w=majority



CORS_ORIGIN=https://<your-frontend>.vercel.app



JWT_SECRET=<generate-a-real-secret>
JWT_EXPIRES_IN=7d
